#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Obsidian
Exec=/usr/bin/obsidian.sh %U
Terminal=false
Type=Application
Icon=obsidian.png
StartupWMClass=obsidian
Comment=Obsidian
MimeType=x-scheme-handler/obsidian;
Categories=Office;
